
body, p, td, th { font-family: verdana, arial, helvetica, sans;
  font-size: .8em;
}

h1 { font-size: 1.4em;
  color: #666666;
}

form { margin-bottom: 0px; }

.header { width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: #003399;
  background-color: #cccccc;
  padding: 10px;
}

.eventTable td { border-bottom: 1px solid #9999ff; }
.eventTable th { text-align: left;
  border-bottom: 2px solid #9999ff;
  border-top: 2px solid #9999ff;
}

.button { font-weight: bold;
  color: #cccccc;
  background-color: #003399;
  padding: 5px;
}

.button a:link, .button a:visited {
  font-weight: bold;
  color: #cccccc;
  text-decoration: none;
}

.button a:hover {
  color: #003399;
  background-color: #cccccc;
}

.error {
  font-weight: bold;
  color: #cc0000;
}